.group-2594 {
  align-items: flex-start;
  display: flex;
  height: 731px;
  left: 0;
  position: absolute;
  top: 6px;
}

.overlap-group4 {
  height: 731px;
  position: relative;
  width: 414px;
}

.discover-by-meal {
  left: 125px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 484px;
  white-space: nowrap;
}

.path-11543 {
  height: 731px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 414px;
}

