.component-94-1 {
  background-color: var(--snowy-mint);
  height: 26px;
  left: 30px;
  position: absolute;
  top: 20px;
  width: 414px;
}

.component-94-1.group-2641 {
  background-color: #88ef999e;
  height: 55px;
  left: unset;
  position: unset;
  top: unset;
}

