.group-2547 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/611fdac8a506a1017c382f98/releases/611fdd1afc0af3fcbb2108e6/img/path-11520-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 14px;
  left: 210px;
  min-width: 80px;
  position: absolute;
  top: 32px;
}

.group-2542 {
  background-color: var(--sea-serpent);
  border-radius: 30px;
  height: 14px;
  width: 65px;
}

