.icon-arrow-small {
  align-items: flex-start;
  display: flex;
  height: 8px;
  justify-content: flex-end;
  margin-bottom: 1.69px;
  min-width: 10px;
}

.overlap-group1-4 {
  height: 10px;
  margin-top: -0.71px;
  position: relative;
  width: 11px;
}

.path-2 {
  height: 10px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.line-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 10px;
}

