.component-95-12 {
  align-items: flex-start;
  display: flex;
  height: 94px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.overlap-group2 {
  background-position: 50% 50%;
  background-size: cover;
  height: 154px;
  margin-top: -20px;
  position: relative;
  width: 474px;
}

