.home-heading {
  align-items: flex-start;
  display: flex;
  height: 94px;
  left: 0;
  position: absolute;
  top: 1px;
}

.overlap-group1-1 {
  height: 94px;
  position: relative;
  width: 414px;
}

.todays-feed {
  left: 133px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 44px;
  white-space: nowrap;
}

